.profile__info {
    display: grid;
    margin: 0;
    max-height: 77px;
    grid-template-columns: 373px 24px;
    grid-template-rows: 39px 22px;
    grid-template-areas: 
    "name button"
    "profession profession";
    gap: 16px 18px;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        grid-template-columns: 196px 18px;
        grid-template-rows: 22px 14px;
        grid-template-areas: 
        "name button"
        "profession profession";
        max-height: 50px;
        gap: 14px 10px;
        margin: 0 28px 34px;
    }   
}