.popup__close-button {
    background-image: url(../../../images/form-x-button.svg);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    top: -48.28px;
    right: -48.28px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .popup__close-button {
        min-width: 26px;
        min-height: 26px;
        right: 0;
    }
}