.popup__error {
    padding-bottom: 30px;
}

.popup__error:last-of-type {
    padding-bottom: 48px;
}

@media screen and (max-width: 1279px) {
    .popup__error:last-of-type {
        padding-bottom: 46px;
    }
}