.profile__edit-button {
    background-image: url(../../../images/profile-edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 24px;
    margin-top: 15px;
    cursor: pointer;
    transition: visibility 0.1s, opacity 0.1s linear;
}

.profile__edit-button:hover{ 
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .profile__edit-button {
        min-height: 18px;
        align-self: flex-end;
        margin: 0;
    }
}