.profile__image {
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
    margin-right: 30px;
    position: relative;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    background-image: url(../../../images/profile-image.jpg);
}

@media screen and (max-width: 1279px) {
    .profile__image {
        margin: 0 0 30px;
    }
}