.auth__input {
    all: unset;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 13px;
    max-height: 14px;
    margin-bottom: 30px;
}

.auth__input:last-of-type {
    margin: 0;
}