.page__wrapper {
    max-width: 880px;
    min-width: 282px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 60px;
    height: 100vh;
}

@media screen and (max-width: 1280px) {
    .page__wrapper {
        margin: 45px 200px 60px;
    }
}

@media screen and (max-width: 1279px) {
    .page__wrapper {
        margin: 28px 0 36px;
    }
}