.page__wrapper {
    max-width: 880px;
    min-width: 282px;
    margin: 45px auto 60px;
}

@media screen and (max-width: 1280px) {
    .page__wrapper {
        margin: 45px 200px 60px;
    }
}

@media screen and (max-width: 1279px) {
    .page__wrapper {
        margin: 28px 0 36px;
    }
}